body {
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.content-footer,
.masthead-heading,
.masthead-intro {
  
  text-align: center;
}

.masthead {
  padding: 6em 0;
  background-image: url('../img/background.JPG');
  background-size: cover;
  background-repeat: no-repeat;
}

.masthead-intro {
    
    margin-bottom: 0.1em;
    font-size: 2em;
    color: #ffffff;
}

.masthead-heading {
    margin-top: -0.2em;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
}

.details {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.details > p {
    font-weight: 300;
    letter-spacing: 0.05em;
}

.details > h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em 0;
}

section > h1 {
    margin-top: 2em;
}

#footer {
  padding: 20px 0;
  text-align: center;
  background-color: #111111;
  text-decoration: none;
}

#footer a {
  color: #ffffff;
}
.social > li {
  display: inline-block;
  margin: 0 5px;
}

/*used WW3 schools as reference code */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: grey;
  color: #fff;
  text-align:center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  left: 30;
  bottom: 30;
  z-index: 1;
}

  /* Position the tooltip- used WWW3 schools as a reference  */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*used WW3 schools as reference code */
.moveplane{
  width: 1px;
  height: 1px;
  position: relative;
  animation: mymove 120s infinite;}

@keyframes mymove {
 from {top:-100px; left: 110px; }
  to {bottom: 300px; left:150px;}
}